<ion-view view-title="收益明细" hide-nav-bar="true">
	<ion-header-bar class="bar-calm header-back">
		<div class="buttons">
			<button class="button iconfont icon-back1 button-clear" ng-click="$ionicGoBack()">返回</button>
		</div>
		<h1 class="title">收益明细</h1>
	</ion-header-bar>
	<ion-content class="bodybg-normal">
		<table class="table">

			<thead>
			<tr>
				<th>日期</th>
				<th>收益</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>2012-01-03</td>
				<td>+11.00</td>
			</tr>
			<tr>
				<td>2017-09-08</td>
				<td>+23.00</td>
			</tr>
			</tbody>
		</table>
	</ion-content>
</ion-view>

