<ion-view view-title="推荐收益" hide-nav-bar="true" hide-back-button="true">
	<ion-header-bar class="bar-calm header-back">
		<div class="buttons">
			<button class="button iconfont icon-back1 button-clear" ng-click="$ionicGoBack()">返回</button>
		</div>
		<h1 class="title">推荐收益 </h1>
	</ion-header-bar>
    <ion-content class="bodybg-normal">
        <ion-refresher pulling-text="下拉刷新..." on-refresh="doRefresh()"></ion-refresher>
        <div class="count-header">
            <div class="turnover" style="padding: 20px 0;">
                <h4 ng-bind="info.total.tuijian_money || 0.00  " style="line-height: 40px;"></h4>
                <p ng-click="showAlert()">收益(元)</p>
            </div>
        </div>
        <div class="common-empty" ng-if="orderEmpty">什么也没有...</div>
        <div class="shop-order-list" ng-if="!orderEmpty">
            <div class="row" ng-if="!orderEmpty">
                <div class="col ">推荐ID</div>
                <div class="col">推荐账号</div>
                <div class="col">获得收益(元)</div>
            </div>
            <div class="yd-mesg-coutent" ng-if="!orderEmpty" ng-repeat="item in info.tuijian">
                <div class="row">
                    <div class="col ">{{item.uid || '暂无'}}</div>
                    <div class="col">{{item.mobile}}</div>
                    <div class="col">{{item.tuijian_money}}</div>
                </div>
            </div>
        </div>
        <ion-infinite-scroll ng-if="!noMore" on-infinite="loadMore()" distance="-1%" immediate-check="false">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>