<ion-view view-title="推荐收益转赠" hide-nav-bar="true">
	<ion-header-bar class="bar-calm header-back">
		<div class="buttons">
			<button class="button iconfont icon-back1 button-clear" ng-click="$ionicGoBack()">返回</button>
		</div>
		<h1 class="title">推荐收益转赠</h1>
		<div class="buttons">
			<button class="button button-clear" ui-sref="my.sendRecProfitHistory">转赠记录</button>
		</div>
	</ion-header-bar>
	<ion-content class="bodybg-normal">
		<div class="yd-donate-count real-count">
			<ul>
				<li class="flex">
					<p class="flex_1">可转赠金额</p>
					<span style="color: #ef4e3a;">{{giveInfo.sum}}</span>
				</li>
				<li>
					<label>获&nbsp;赠&nbsp;人</label>
					<input type="text" placeholder="请输入获赠人ID" ng-model="giveInfo.userId" style="padding-left:104px">
				</li>
				<li>
					<label>转赠金额数量</label>
					<input type="text" placeholder="请输入转赠金额" style="padding-left: 105px;" ng-model="giveInfo.giveNum" style="padding-left:104px">
				</li>
				<li>
					<label>支付密码</label>
					<input type="password" placeholder="请输入支付密码" ng-model="giveInfo.payPassword" style="padding-left:104px">
				</li>
			</ul>
			<div class="padding sure-btn">
				<button class="button button-block button-calm" ng-click="submit()">确定</button>
			</div>
		</div>
	</ion-content>
</ion-view>

